@import "tailwindcss";

@theme {
  --color-navy: #0D1B2A;
  --color-sapphire: #1B4965;
  --color-coral: #FF6F61;
  --color-misty: #F8F9FA;
  --color-charcoal: #2E2E2E;
  
  --color-platinum: #7C3AED;
  --color-gold: #B45309;
  --color-silver: #475569;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-misty);
  color: var(--color-charcoal);
}